In [21]:
import numpy as np
import pandas as pd

tsne = pd.read_csv('tsne.csv')
tsne

            # 1          2
0    -16.255180 -78.191612
1    -16.726990 -75.351875
2    -18.837494 -72.590073
3    -16.191158 -78.627991
4    -19.053141 -72.095673
...         ...        ...
6599  41.080170  32.908710
6600  40.835712  31.240822
6601  40.123043  31.803783
6602  38.803715  31.891941
6603  31.365179  37.202473

[6604 rows x 2 columns]

In [23]:
x = tsne["# 1"]
y = tsne[" 2"]

In [25]:

print(similarity)

-545.6548815650044